.FooterSection {
  width: 100%;
  position: relative;
  background: var(--color-primary);
  overflow: hidden;
  padding: 20px 0;
  box-sizing: border-box;
}
.FooterSection .footerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerContent a{
      color: white;
    font-size: 16px;
  font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.FooterContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.FooterLeft span {
  color: white;
  font-size: 16px;
 font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.FooterRight {
  display: flex;
  gap: 16px;
}

.SocialIcon {
  width: 36px;
  height: 36px;
  padding: 4px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.IconShape {
  position: absolute;
  background: linear-gradient(213deg, var(--color-primary) 0%, #623F9F 100%);
}
@media (max-width: 768px) {
.FooterSection .footerContent{
    flex-wrap: wrap;
    justify-content: center;
  }
  .FooterRight{
    margin-top: 10px;
  }
}