.teaching-section {
  width: 100%;
margin-top: 150px;
}

.teaching-header .teaching-title {
  font-family: Bayon, sans-serif;
  font-size: 60px;
  color: var(--color-primary);
}

.course-tabs {
  display: flex;
  padding: 0%;
  flex-wrap: wrap;
}

.course-tab {
  flex: 1;
  background: #f6f6f6;
  padding: 15px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--color-primary);
  border: 1px solid #e0e0e0;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

.course-tab:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.course-tab:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course-tab.active {
  border-top: 4px solid var(--color-primary);
  background: white;
}

.course-card {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 25px 25px;
  padding: 40px 45px;
  position: relative;
}

.card-header {
  font-family: Bayon, sans-serif;
  color: var(--color-primary);
  font-size: 80px;
  line-height: 1;
  margin-bottom: 20px;
}

.course-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 0;
}

.card-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  margin-top: 20px;
  min-height: 100px;
}

.card-action {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-primary);
}


.lineResHip h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  line-height: 120%;
  letter-spacing: 0%;
}

.lineResHip p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;

}
@media screen and (max-width: 998px) {
  .teaching-header{
display: flex;
flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
.lineResHip h1{
   font-size: 22px;
  }
  .lineResHip p{
    font-size: 16px;
  }
  .teaching-section,.conferences{
    margin-top: 70px;
  }

}

