.teaching-section {
  width: 100%;
  margin: 40px 0;
}

.teaching-header .teaching-title {
  font-family: Bayon, sans-serif;
  font-size: 60px;
  color: var(--color-primary);
}

.course-tabs {
  display: flex;
  padding: 0%;
  flex-wrap: wrap;
  flex-direction: column;
}

.course-tab {
  flex: 1;
  background: #f6f6f6;
  padding: 23px 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary);
  border: 1px solid #e0e0e0;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

.course-tab:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-tab:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
}

.course-tab.active {
  background: var(--primary-background);
  color: white;
}

.course-card {
  padding: 40px 45px;
  position: relative;
}

.card-header {
  font-family: Bayon, sans-serif;
  color: var(--color-primary);
  font-size: 80px;
  line-height: 1;
  margin-bottom: 20px;
}

.course-name {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-primary);
  margin-top: 0;
}

.card-description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  margin-top: 20px;
  min-height: 100px;
}

.card-action {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  padding: 8px 16px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-primary);
}

.lineResHip{
    display: flex;
    align-items: center;
    gap: 10px;
}

.lineResHip img{
    flex: 1;
    margin-left: 30px;
}

.card-download button{
  padding: 9px 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background: transparent;
  font-size: 18px;
  line-height: 180%;
  color: #BC9059;
  border: 2px solid var(--golden-text, #BC9059);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.card-download button img{
  margin-right: 5px;
}