.ResSection {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.userInfo {
  display: flex;
  justify-content: space-between;
}



.ResButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  cursor: pointer;
  margin-left: 25px;
}

.picon {
  color: var(--color-primary);
}

.ResButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background: #fff;

}

.ResButton .label {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  color: var(--color-primary);
}

.publicationsWrapper {
  position: relative;
  /*max-height: 600px;
    */
  border: 0.7px solid rgba(234, 234, 234, 1);
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.0392);
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.PublicationsList {
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-height: 600px;
  overflow-y: scroll; */
  padding: 45px 25px !important;

  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.0392);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* .publicationsWrapper:after {
 content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 102px;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(26deg, rgba(255, 255, 255, 0.4) 20%, #FFFFFF 65.18%)
} */

.PublicationsList .enclosePublic {
  margin-top: -20px;
}

.PublicationsList .enclosePublicAdd {
  margin-top: 20px;
  margin-bottom: 40px;
  /* position: relative;
z-index: 99999; */
}

.PublicationItem {
  height: 100%;
  border: 1px solid rgba(222, 222, 222, 1);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


.PublicationItem .date {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(120, 120, 120, 1);

}

.PublicationItem .title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.PublicationItem .author {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(120, 120, 120, 1);

}

.PublicationItem .publicationContent {
  background-color: rgb(0, 0, 0);
  padding: 26px 23px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.PublicationItem .publicationContent p {
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}

.ResImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  /* remove 50% */
  height: 650px;
  /* fill vertically if needed */
  max-width: none;
  /* remove max-width */
  object-fit: contain;
  z-index: -1;
}


.PubJournal {
  margin-top: 5px;
  color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  justify-content: space-between;
}

.journalCarousel {
  width: 27px !important;
  height: 27px !important;
  font-size: 12px;
  font-weight: bold;
  color: rgba(41, 45, 50, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(41, 45, 50, 1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ResHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}



.PublicationsList> :last-child {
  border-bottom: none !important;
  /* margin-bottom: 85px; */
}

.page_active {
  background: var(--primary-background);
  color: #fff !important;
}

.page_active * {
  color: #fff !important;
}

.buttons,
.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.buttons {
  min-width: 146px;
  justify-content: space-between;
}

.pagination {
  align-self: stretch;
  justify-content: center;
  margin-top: 20px;
}

.btn-back {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
}

.btn-back {
  border: none;
}

.btn-back:disabled {
  color: rgba(0, 0, 0, 0.73);
}

.bar,
.icon {
  height: 40px;
  width: 40px;
  border-radius: var(--br-31xl);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
}

.contactMe {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.card {
  width: 440px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-top: 60px;
  position: relative;
}

.download-cv {
  margin: 0 10px;
}

.card-title {
  color: var(--color-primary);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.card-subtitle {
  color: #564b4b;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.card-details {
  color: black;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 27px;
  word-wrap: break-word;
}

.xmarkTip {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-primary);
  display: block;
}

.xmarkTip>i {
  font-size: 24px;
  color: var(--color-primary);
  height: 24px;
}


.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin: 0 20px;
}

.frame-icon {
  width: 30px;
  height: 30px;

}


.readMore {
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 0px;
}

.aboutMore {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  padding: 20px;
  padding-top: 80px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.conferenceFilter {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
  width: 100%;
}

.filterBox ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.filterBox ul li {
  text-wrap: nowrap;
}

.filterBox ul li button {
  border: none;
  color: rgba(161, 157, 157, 1);
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0%;
  padding: 6px 16px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.filterBox ul li button.active {
  color: #fff;
  background-color: #000000;
}

.conferences {
  margin-top: 150px;
}

.conferenceList {
  padding: 40px 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  */
  gap: 10px;
  box-shadow: inset 10px 0px 16px -10px rgba(0, 0, 0, 0.17),
    /* left side */
    inset -10px 0px 16px -10px rgba(0, 0, 0, 0.17);
  background: rgba(121, 121, 121, 0.1216);
  border-right: 1px solid rgba(88, 88, 88, 0.7);
  border-left: 1px solid rgba(88, 88, 88, 0.7);
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


/* .conferenceList:before {
  content: "";
  position: absolute;
  left: 50%;
  top: calc(28px + 82px);
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */


.conferenceList .enclosePublic {
  background-color: #fff;
  border: 0.85px solid rgba(234, 234, 234, 1);
  padding: 24px;
  min-height: 170px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.PubContent {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.PublicationItem .PubContent {
  padding: 20px;
}

.PubContent .presenter {
  margin-top: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: Italic;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(67, 67, 67, 1);
}

.conferenceLogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conferenceLogo:after {
  content: "";
  position: absolute;
  top: 30px;
  width: 2px;
  height: 82px;
  background: #000;
  left: 50%;
  transform: translateX(-50%);
}

.conferenceLogo:before {
  content: "";
  position: absolute;
  top: 110px;
  width: 5px;
  height: 5px;
  background: #000;

  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.conferenceList:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 30%,
      rgba(255, 255, 255, 0.6) 60%,
      rgba(255, 255, 255, 1) 100%);

}

.conferenceList:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.6) 40%,
      rgba(255, 255, 255, 0.3) 70%,
      rgba(255, 255, 255, 0) 100%);
}

.PubContent .author span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(67, 67, 67, 1);
}

.conferencePagination {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conferencePagination button {
  /* background-color: #fff; */
  font-size: 20px;
  font-weight: bolder;
}

.conferencePagination .pageNumber {
  display: flex;
  margin: 0px 20px;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

  font-size: 12px;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.conferenceItem {
  display: flex;
  align-items: start;
  gap: 10px;
  height: 100%;
}


/* Sticky Navbar */
nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 87px;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-left {
  padding: 20px 0px;
  background: #ffffff;
}

.nav-left .logo {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  font-size: 35.75px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000000;
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 28px;
  font-weight: normal;
  font-style: italic;
}

.nav-links {
  position: relative;
  display: flex;
  align-items: stretch;
  list-style: none;
  padding: 0px;
  margin-right: 120px;
}

.nav-links ul {
  list-style: none;
}

.nav-links li {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  list-style: none;
  padding: 0px 17px;
}

.nav-links a,
.nav-links button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fffdfd;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.contact-links {
  position: absolute;
  right: -171px;
  top: -9px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fffdfd;
  background-color: #000000;
  padding: 10px 35px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.contact-links button {
  background-color: #000000;
  border: none;
  color: #ffffff;
}

.nav-links a:hover {
  opacity: 0.7;
}



/* Main Container */
/* .container {
  display: flex;
  min-height: calc(100vh - 61px);
  gap: 0;
} */

/* Left Content Section */
.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-content h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
  color: #000;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
  font-weight: 500;
  color: #000;
  line-height: 100%;
  letter-spacing: 0%;

}

.affiliation p {
  margin-bottom: 4px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.left-content .button-group {
  margin-top: 35px;
  display: flex;
  gap: 16px;
  margin-bottom: 80px;
}

.left-content .button-group .btn {
  padding: 12px 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn-about {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn-about:hover {
  background: #333;
  border-color: #333;
}

.btn-research {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

.btn-research:hover {
  background: #000;
  color: #fff;
}

/* Contact Section */
.contact-section {
  margin-top: auto;
}

.contact-section h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

}

.contact-section .email {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  margin-bottom: 20px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0%;

}

.email:hover {
  opacity: 0.7;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 12px;
}

.social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}

.social-icon img {
  width: 100%;
  height: 100%;
}

/* Right Image Section */
.right-image {
  width: 480px;
  min-height: 854px;
  background: #000;
  display: flex;
  align-items: end;
  justify-content: right;
  margin-right: 120px;
}

.right-image img {
  width: 548px;
  height: 494px;
  margin-right: -3px;
  margin-bottom: -1px;
}


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}


.custom-dropdown {
  position: relative;
  /* width: 200px; */
  font-family: Arial, sans-serif;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.dropdown-btn:hover {
  border-color: #000;
}

.arrow {
  font-size: 12px;
  margin-left: 5px;
  transition: transform 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 1px;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;

  margin-top: 5px;
  display: none;
  max-height: 220px;
  overflow-y: auto;
  z-index: 10;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}

.custom-dropdown .dropdown-menu {
  display: none;
}

.custom-dropdown.open .dropdown-menu {
  display: block;
}

.custom-dropdown.open .arrow {
  transform: rotate(180deg);
}

.toggle-input-wrapper {
  display: flex;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.toggle-btn {
  background-color: #fff;
  color: rgba(41, 45, 50, 1);
  ;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.toggle-btn.open {
  background: rgba(195, 195, 195, 1);
  color: rgba(41, 45, 50, 1);
}

.publicationsBox {
  position: relative;
  margin-bottom: 60px;
}

.pubSection {
  margin-top: 160px;
}

.input-container {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-width 0.3s ease, padding 0.3s ease;
  -webkit-transition: max-width 0.3s ease, padding 0.3s ease;
  -moz-transition: max-width 0.3s ease, padding 0.3s ease;
  -ms-transition: max-width 0.3s ease, padding 0.3s ease;
  -o-transition: max-width 0.3s ease, padding 0.3s ease;
}

.input-container.open {
  max-height: 100px;
  padding-top: 5px;
}

.input-container input {
  height: 100%;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-container i {
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 9px;
  width: 24px;
  height: 24px;
  color: rgba(41, 45, 50, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(41, 45, 50, 1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.searchFilter {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.filterBox {
  display: flex;
  align-items: center;
}


/* about me */

.aboutSection {
  padding-top: 80px;
  border-top: 1px solid rgba(224, 224, 224, 1)
}

.aboutBox {

  position: relative;
  background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, rgba(10, 18, 36, 0.2), rgba(10, 18, 36, 0.2));
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.aboutContent {}

/* Timeline Vertical Line */
.timeline-container {
  position: absolute;
  left: 73px;
  top: 60px;
  bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline-dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  flex-shrink: 0;
}

.timeline-dots {
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  flex-shrink: 0;
  position: absolute;
}

.timeline-line {
  width: 2px;
  background-color: #fff;
  flex-grow: 1;
}

.timeline-label {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: -41px;
  left: 50%;
  text-align: center;
  line-height: 1.2;
  width: 70px;
  color: #fff;
  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/* First section - About Me with circle at top */
/* .timeline-section:nth-child(1) {
  height: 150px;
} */



/* Academic Focus section */
.timeline-section:nth-child(2) {
  height: 180px;
}

/* Research Focus section */
.timeline-section:nth-child(3) {
  height: 220px;
}

.timeline-section:nth-child(3) .timeline-label {
  top: 45%;
}

/* Education section */
.timeline-section:nth-child(4) {
  height: 180px;
}

.timeline-section:nth-child(4) .timeline-label {
  top: 45%;
}

/* Professional Experience section */
.timeline-section:nth-child(5) {
  height: 200px;
}

.timeline-section:nth-child(5) .timeline-label {
  top: 45%;
}

/* Personal Interests - circle at bottom */
.timeline-section:nth-child(6) {
  height: auto;
}

.timeline-section:nth-child(6) .timeline-label {
  top: 30px;
}

.profile-photo {
  right: 20px;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 160px;
  background-color: rgba(26, 26, 26, 1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.section {
  margin-bottom: 45px;
  position: relative;
  display: flex;
  gap: 50px;
}

.section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.section h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.section p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}


.description {
  font-size: 15px;
  color: #d4d4d4;
  line-height: 1.75;
  margin-bottom: 18px;
}

.focus-list {
  font-size: 15px;
  color: #d4d4d4;
  margin-bottom: 10px;
}

.research-items {
  margin-top: 18px;
}

.research-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  color: #ffffff;
}

.aboutBox .content {
  padding: 25px 20px 0px 46px;
}

.aboutBtn {
  display: flex;
  justify-content: space-between;
  padding: 34px 48px 34px 46px;
}


.download-btn {
  align-items: center;
  gap: 12px;
  color: #fff;
  text-decoration: none;

  cursor: pointer;
  transition: color 0.3s;
  background-color: #000000;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.readMore {
  align-items: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  z-index: 9999;
}

.download-btn:hover {
  color: #ccc;
}

.download-icon {
  width: 22px;
  height: 22px;
}





/* Mobile Toggle */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  color: #000000;
  cursor: pointer;
}

/* Mobile Sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 95%;
  height: 100vh;
  background: #000000;
  z-index: 2000;
  padding: 20px 30px;
  transition: right 0.4s ease;
  box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.15);
}

.mobile-sidebar.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 21px;
  float: right;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mobile-nav-links {
  margin-top: 70px;
  list-style: none;
  padding: 0;
}

.mobile-nav-links li {
  margin-bottom: 18px;
}

.mobile-nav-links a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.mobileInput {
  display: none;
}

.smallSocial {
  display: none;
}


/* cv form */
.cvHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}

.cvHeading h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #000;
}

.cvHeading button {
  padding: 12px 32px;
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.aboutSmallView{
  display: none;
}
@media (max-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* @media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
} */

@media (min-width: 768px) {

  .container-sm,
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
/* Hide desktop nav on mobile */
@media (max-width: 1024px) {

  .nav-links,
  .contact-links {
    display: none;
  }

  .menu-toggle {
    display: block;
    color: #ffffff;
  }

  nav {
    height: 70px;
    padding: 15px 13px;
  }

  .nav-left {
    padding: 10px 0;
  }

  .left-content h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  .affiliation p {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .contact-section .email {
    display: block;
  }

  .contact-section {
    text-align: center;
  }

  .left-content {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .right-image img {
    width: 310px;
    height: 290px;
  }

  .aboutBox .content {
    padding: 25px 0px 48px 33px;
    display: flex;
    overflow-x: auto !important;
    height: 100% !important;
  }
.aboutLargeView{
  display: none;
}
.aboutSmallView{
  display: flex;
}
.aboutSection.aboutSmallView{
padding: 35px 0px 15px 0px; 
}

  .aboutSection {
    padding: 35px 20px;
  }

  .searchFilter {
    width: 100%;
    margin-top: 16px;
  }

  .searchFilter .input-container {
    width: 100%;
  }

  .pubSection {
    padding: 35px 20px;
    margin-top: 35px;
  }

  .PublicationsList {
    padding: 35px 10px 11px 10px !important;
  }

  .conferencePagination {
    margin-top: 10px;
  }

  .mobileInput {
    display: block;
  }

  .toggle-input-wrapper {
    display: none;
  }

  .aboutBtn {
    padding: 34px 13px 34px 25px;
    display: none;
  }



  .filterBox ul li button {
    font-size: 14px;
  }

  .input-container i {
    display: none;
  }

  .publicationsBox {
    margin-bottom: 30px;
  }

  .section {
    margin-bottom: 0px;
    min-width: 100%;
    width: 100%;
    margin-right: 30px;
    gap: 40px;
    min-height: 150px;
  }

  .aboutContent {
    padding-right: 10px;
  }

  .left-content .button-group {
    margin-bottom: 65px;
  }

  .social-icon {
    width: 35px;
    height: 35px;
  }
   .ResHeader {
    flex-direction: column;
    align-items: start;
    margin-bottom: 35px;
  }

  .profile-photo {
    top: 30%;
    width: 65px;
    height: 65px;
  }

  .download-btn {
    position: static;
    /* margin-top: 30px; */
    display: flex;
    justify-content: flex-start;
  }

  nav {
    flex-direction: column;
  }

  .nav-left {
    padding: 16px 24px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    padding: 16px 24px;
    font-size: 14px;
    width: 100%;
  }

  .nav-links li:last-child a {
    padding: 16px 24px;
  }



  .subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .button-group {
    justify-content: center;
  }

  .btn {
    text-align: center;
  }

  .userInfo {
    flex-wrap: wrap; 
  }


  .conferenceFilter {
    flex-direction: column;
    width: 100%;
    align-items: normal;
    margin-bottom: 10px;
  }

  .filterBox {
    flex-direction: column;
    width: 100%;
  }

  .filterBox ul {
    overflow-x: auto;
    width: 100%;
  }

  .conferenceList {
    display: flex;
    padding: 32px 12px;
    overflow-x: auto;
    margin-bottom: 40px;
  }

  .conferenceList .enclosePublic {
    min-width: 285px;
    padding: 17px;
  }

  .conferenceList:before,
  .conferenceList:after {
    display: none;
  }

  .timeline-label {
    display: none;
  }
  .timeline-container {
    left: 53px;
  }
  .right-image {
    min-height: 300px;
    width: 280px;
    margin-right: 0px;
    position: relative;
    /* left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0); */
  }

  h1 {
    font-size: 56px;
  }

  nav {
    padding: 0;
    flex-direction: column;
  }

  .nav-left {
    padding: 20px 0px;
  }

  .nav-links {
    flex-wrap: wrap;
  }

  .nav-links a {
    padding: 16px 24px;
    font-size: 14px;
  }

  .nav-links li:last-child a {
    padding: 16px 32px;
  }

}

@media (max-width: 724px) {
 .userInfo {
   flex-direction: column;
  }
   .smallSocial {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
   .largeSocial {
    display: none;
  }
  .right-image{
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
  }
  .left-content{
    padding-bottom: 0px;
  }
   .menu-toggle {
    display: block;
    color: #000000;
  }
   .section {
    min-height: 260px;
  }
}
 