.HeroSection {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}


/* .HeroImage {
  position: absolute;
  top: 100px;
  left: 52%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url('/public/Assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
} */

.HeroContent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.HeroContent>.leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 20px;
  z-index: 2;
}

.HeroContent>.rightContainer {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
}

.rightContainer img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  align-items: center;
  font-family: var(--font-sec);
  margin-top: 20px;
}

.navbar a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--font-sec);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact {
  background: var(--primary-background);
  padding: 10px 15px !important;
  color: #fff !important;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.navBottom {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
}

.navButton {
  font-size: 30px;
  color: var(--color-primary);
  cursor: pointer;
  display: none;
}

@media (max-width: 1014px) {
  .navbar {
    display: none;
  }

  .navButton {
    display: block;
  }
}

.navBottom:hover .FLoadNav {
  max-height: 300px;
}

.FLoadNav {
  width: 250px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: rgba(182, 185, 189, 0.226);
  border-radius: 5px;
}

.FLoadNav a {
  display: block;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0 10px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.FLoadNav a:hover {
  text-decoration: underline;
  transition: 0.7s;
}


.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17px;
  flex: 1;
}

.hero-name {
  position: relative;
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 1.2;
  display: inline-block;
}

.hero-name::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 122px;
  height: 8px;
  background: #434343;
}


.hero-description {
  color: #383838;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.09em;
}

.hero-contact {
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #FFFFFFBF;
  padding: 50px 22px 40px 21px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.hero-contact h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-primary);
}

.hero-contact h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-primary);
}

.hero-contact p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #000000;
}

.social-icons {
  display: flex;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.social-icons li {
  list-style: none;
  margin-right: 24px;
}

.social-icons li a {
  background: var(--primary-background);
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-signature {
  position: relative;
  display: inline-block;
}

.user-signature p {
  text-wrap: nowrap;
  font-family: 'Qwitcher Grypen', cursive;
  font-weight: 400;
  color: var(--color-primary);
  font-style: normal;
  font-size: 70px;
  line-height: 1.2;
  transform-origin: left top;
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -moz-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
  -o-transform: rotate(90deg) translateY(-100%);
}

.ResSection {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 20px 20px;
  min-height: 100vh;
}

.heading-title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: normal;
  display: inline-block;
  color: var(--color-primary);
}

.heading-title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 122px;
  height: 8px;
  background: var(--primary-background);
}



.ResTitle {
  font-family: 'Bayon', sans-serif;
  font-size: clamp(25px, 10vw, 100px);
  color: #472661;
  text-transform: lowercase;
  line-height: 1;
}

.ResButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  cursor: pointer;
  margin-left: 25px;
}

.picon {
  color: #D19A54;
}

.ResLogo {
  margin-right: 20px;
}

.ResButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  color: #434343;
  border: 2px solid #D19A54;
  background: transparent;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.ResButton .label {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  color: #434343;
}

.PublicationsList {
  display: flex;
  flex-direction: column;
}

.PublicationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
}

.PublicationItem.active {
  background: linear-gradient(250.58deg, #D1A976 13.03%, #D19A54 89.02%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.PublicationItem .date {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(12px, 1.5vw, 14px);
  color: #434343;
  margin-bottom: 6px;
  font-weight: 400;
}

.PublicationItem .title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
}

.PublicationItem .author {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  color: #434343;
  margin-top: 5px;
}

.PublicationItem.active .date,
.PublicationItem.active .title,
.PublicationItem.active .author,
.PublicationItem.active .PubContent span {
  color: #fff;
}

.accordion-content {
  padding: 15px 20px;
  background: #FFFBF7;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: fadeIn 0.2s ease-in-out;
  -webkit-animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow-item button {
  background-color: transparent;
  border: none;
}

.ResImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  /* remove 50% */
  height: 650px;
  /* fill vertically if needed */
  max-width: none;
  /* remove max-width */
  object-fit: contain;
  z-index: -1;
}


.PubJournal {
  color: #434343;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.3;
}

.ResHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .ResHeader {
    flex-direction: column;
  }
}

.enclosePublic {
  border-bottom: 1px solid #BC9059;
  padding: 24px 0px;
}

.PublicationsList> :last-child {
  border-bottom: none !important;
}

.page_active {
  background: var(--primary-background);
  color: #fff !important;
}

.page_active * {
  color: #fff !important;
}


.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pagination-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 146px;
  justify-content: space-between;
}

.pagination-buttons i {
  color: #D19A54;
}

.pagination-buttons .page-btn {
  height: 31px;
  width: 31px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  background-color: transparent;
  border: 1px solid #04486F24 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pagination-buttons .page-btn.active {
  background: linear-gradient(250.58deg, #D1A976 13.03%, #D19A54 89.02%);
  color: #fff !important;
}


.pagination {
  align-self: stretch;
  justify-content: center;
  margin-top: 20px;
}

.btn-back {
  height: 31px;
  width: 31px;
  background-color: transparent;
  border: 1px solid #04486F24 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-back {
  border: none;
}

.btn-back:disabled {
  background-color: #f2f2f2;
}

.bar,
.icon {
  height: 40px;
  width: 40px;
  border-radius: var(--br-31xl);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
}

.contactMe {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-top: 60px;
  position: relative;
}

.download-cv {
  margin: 0 10px;
}

.card-title {
  color: var(--color-primary);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.card-subtitle {
  color: #564b4b;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.card-details {
  color: black;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 27px;
  word-wrap: break-word;
}

.xmarkTip {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-primary);
  display: block;
}

.xmarkTip>i {
  font-size: 24px;
  color: var(--color-primary);
  height: 24px;
}


.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin: 0 20px;
}

.frame-icon {
  width: 30px;
  height: 30px;

}


.readMore {
  color: var(--color-primary);
  font-weight: 600;
  cursor: pointer;
}

.aboutMore {
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  padding: 20px;
  padding-top: 80px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.courseList {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 65px 40px 80px 90px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


.carousel-bg {
  background: transparent;
}

.slide-card {
  /* background: linear-gradient(45deg, #4e54c8, #8f94fb); */
}


.transition-transform {
  transition: transform 0.5s ease-in-out;
}

.award-date {
  width: 184px;
  position: relative;
  margin-bottom: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

.award-date p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /* semibold */
  font-size: 36px;
  line-height: 1;
  /* 100% */
  letter-spacing: 0;
  text-align: center;
  color: #434343;

  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}


.slide-card h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: #434343;
  margin-bottom: 10px;
}

.slide-card h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* semibold */
  font-size: 18px;
  line-height: 1;
  /* clean version of 100% */
  letter-spacing: 0;
  /* 0% replaced with 0 */
  text-align: center;
  color: #000000;
}

.carousel-btn {
  background: linear-gradient(250.58deg, #D1A976 13.03%, #D19A54 89.02%);
  color: #fff !important;
  border: none;
  min-width: 52px !important;
  height: 52px;
}